.a{
    color: rgb(14, 14, 14);
    font-family: 'Rubik', sans-serif;
  top :0;
    width:100%;
    height: 250px;
    background-color: rgb(0,191,255) ;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUSEhISFRUQEA8QFRUVEBAQEg8QFRUWFhUVFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFxAQGy0dHR0tLS0tLS0tLS0tLS0tLS0tLS0tKy0tKy0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tKzc3Lf/AABEIAJkBSgMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBAECBQAGB//EADMQAAIBAgUDAgUEAgIDAQAAAAABAgMRBBIhMUETUWEFkRRxgaHwIrHR8ULBUuEVMmIG/8QAGQEAAwEBAQAAAAAAAAAAAAAAAQIDAAQF/8QAJBEAAgICAgMAAgMBAAAAAAAAAAECERIhAzETQVEEYRQicTL/2gAMAwEAAhEDEQA/APpkUROAZRW4NVLs67OcGoF8paSBwYTE1YJiNamrGg02tANWlpqgxdCtGFiKdhXKa9aCF+krXRdSIuIjlQOSD1qeugOMRybEqtJ7lEajghOdKw6YrQmyY/ImpLshaTsMkTsti9RJDE5gkhkhWxnByVzYw0O3JjUo8m36aJMrxnV9UYuOlwbldWuuxg4/ds0DcjMqpuUsEaIyljlBNEpF8pfosIALRFg/TLxw4A0LZSMhowodgiw1vzc1hxEKOHu9h2NFILDwhmOFktZewrY6iIypt8BaLdxuGGk+yRZYGTelmLaGUWXoU3K2nJqYajGK4uwEcPJK3ZEqh/8AWn3JN2XiqGMii77sWr/qezsFhaO8kxfE4m+2iAlsLeherGzsCnHQu5N7sJFXHJCkaDvcahZE1KiQjVr3D2a0h/Knqd14d/sZ8pNrcHkNibM+mSgCk9S8m2UlSe556PQOk7lSGmjlIJgkW0MLXgVuGw0+L/8AYGZC+IoCvw9jTxbtwUpJNbDKWhXFWY9TDMzasWmemrURKtgU9blYz+k5Q+GI2Cn5H6+GtuJ1I+CyaZBqhadMUq0jQI6Y6dCNWZyo3LxwpoU6S5DKgZyMoGfDDvsamAp2V9fYNQpK3k0sIoJX0JTnotCBgY16vyYGK1ueg9bxKzNK1lyYklctx9HPy90Z7iVy3GpwCQilayvZ31KkKGaXp6tHRcXd+QrwmuiX+yalXNZr8YalVlwtibsukjOlhHfXQJDB29vcNicS29UilK9ubB2LqylLDNuyLLDPNrsg+Hp5W3fdWHVNWt2QrYyiitOhBa5Un8znTu9rv6h6MFbT+hyjS/sm5UWUbEo4e+jDOklsMtW1uv4AVZrn+BbsakisY+fcDOMn2LyxMfzUBUxF9tgpMVtFXSfdC1WOtt7DOvn5i1WmyiEYDkKtNe6Lww9v5KVYpfwHsXoVxEgdGF2WrajOEoajPSE7ZSS47fcpc0o4NP8ANi3wCEyRTBntoPui6jqXOtqeZZ6VAa9LwJyNOTF6lJBTA0KJF4uxZwKWHATXqXsiaDsQ1oWpRMAtLUWlK2gzYtDDq+qMmkZqzLqS0sxOOBbfjyeglhE3oLYjAz2T079ikeRCSgYmJoQiKPLwP4/02e907CcMC3vdMvFquznknfQJ1Nf2LRu3qTWp2jZrVCvUHSsRuuzeo1Elx2FcZWUU9d9RKk29df3sMRWbf7rbyJjTKZ2jBxda4KmbVT0pO7ujqPpcVu7stnGjn8crMicVuiaMLs3o4CNrWKLCKP5qDyIPiZn4SDvqXxGZ6pDsaSuWatwDLY2OqMpYST1sH6bjxsFnN9hVVHsxtsXSCU6Tk9PmhynQWXy9H4BwrKL07W+tiM/sK7YypDVKOVbFJ41rjQo7tbMDJTXH/QqQzlXQSeMYrUxDb59w9OlffQr8LZ73GVIR5MAqY/hMNZXuteBDESd+w1hrqDb72RpXRotWaOaKi07fuIVppALtJ3dr+7FqtfsCMAy5BqrV0FW7/lgObmT+hSdVsooknMZWVeRugm+Gl4M2km2b2CdlqLPQ/HthaGD1V9roe08CzxFyL/ljnab7OlNLo9BGp5+5fqmbRTWjD5WQcUXUhxVib+TPjNt2CqhLcDigqQ1lOdG4LK0Q8Q1uLXwNjColoULAo4guq5qYbRZ0yrZDxAKWL8GSZrQ4qyRStilsIVqre2gq6Mnu2MuNexXN+g9TExvurIzPUvU1/jbVak18G+E/3FK2Ala9l+x0QjE55yl6MrEVm2Bu7hqkGt0im74OtHE7s0cDUilq3drfsMwoRcs2dvvfUy0l3DwrxitNfsTcfhaM/psWgUk4mZHFpMPHGJ8Ing0UXImNRaIlFHQxCtsBq4xLYFMOSOk+yKWbFZ+oM6OOb1X7FMGSziTOMk9xbE0f1Xct1rqHqYmT/oUnrqPFMnJomNtVcZw8b8+RGUX3HPTpWeoZLQIPdDWIrWVlcHQzSsnoPOmnqTChd7EslRfFtlK1OMVe4jdt2Sfsa1XDpL9T+gtXxWVfpVl92CL+BkvuhSdBLWbXy59gFfGaWjt9wGJqNu4tJlow+nNLkrompWbA5mFjC5bolNIltgYxYanRC0aQ7So2ElKh4QspRw9txhJhIRG6NC5GUjqjH4L0YsZ6T7DkKCROQi5llCjRzJ7pEKkrkRSCI5bOmiaULMZigCmc8QK9jLQw6SFatIIqpSpMyszMetCUJaPRv7BZ4vLuExkbryjFxtRpedODrgs6OWbws24YyMloWUvkeSWJktQ0fUZflyj4H6Ir8lez1UJrloLGz2aPJ/H/ADOeOe6k/wBhfAx/5MT1NSoomdiccuXYyJeoytrqJ1p5h4cH0Sf5GtBsfWzvRJ+TNlRkXztcsmEvmdSVI45SUnsGoSRMb9huOUiVdLZGs2KXsUlGREK7XISVR9gLiMl9Jt10MxxjZE6wuoh4U76AaSGU5Mo1yUztbHoPSfRFUjmlpra3df6C430pUouWS9vcj5op4l1+PNrLo898Q/HsdFN6sJJalJzZUi39IpvUcpVGuLiKuFhWkjSjZozo3KFWNtdBmGLSX6bHn41JMaoP5kJcZ0x5h2tiW/8AG/1F3NX1t8tyem3z9BeWG8mSQZSZXFyT/wDVWSEnTQ3iKDirfiF3ArHrRzzu9lIpIIkiIx8FrBYqLKVi8KncH07jNHBX5FdFI2+g9KQ7TrAKWGGqdFLdkJNHVGxqlO4xp2FKbS2CfELx7kGiyYxO6K9YYkgM4IlRW6BVK4vKuw8kkUsuyGURXIHDFMPDFCld2ewNTTG8QvlRqZ0zA9Tp5JaO6a0vwOddrgzsReTv3LcMGmQ5+RONIUnqDyjfSIdNHVZxOLYtlLKAyqZDiaw4gs2lgVl2DNEKAQMXlErlGpRKZBrFaAWLBemRkNYKAtHdM1cBgM6cn9PLH4ejK193bbi5KXNGLotD8eUlZ52lQcmklqza9N9OUXeesuEtkhyh6Uo69+eyH6NFRX+yHLz3pHTw/jVuQxgVbSyQTEQTWotSnYJWraHG7s7dUYPqPpsZSuv0+O5k1qKTtbU28TiDPqxzM7uKUq2cHNGLehCVIiFNsddAhUrFsjnwJwtOKf6n/sPWlH/G321FnTIVMVq3Y6dKqCTqEKo1sTGBeNM2jbATu9ynTHMngewfo86izKyXkD5FFWwrjcnoxemy0aZ6pf8A5yNtZu/hK3sBn6A1/kn9LEv5MH7K/wAWaPPxj4CRkakvSJ3sAq+nSjuHyRfs3ikvQspk9Rh6eGD/AA8V5A5IKixBRk+4X4VmhTjbZBNfAj5Ci4x1xBzpXGLHZTms6aM6phQXwS5ZquIKdHsOuRiPjQgsFbZ+4foq1rL52LO6ByqhcpMyjFCtXD2ZSeB0v/YeVb5+9irqdr+5WLkQkoiE6FjowXI1K7KOBXIjiCWG/wCLAzpvlfaw3ktsWjVfOpsmZxRmSpkZDSlQT2KfDD5ieNme6Z3THp4e25SVIKmK4CnTJVMY6ZOUORsSaNVx2GqWPlzsK3JSJSin2VjNrpmzTxSLzqx7oyYTS8nSq34IeHZ0LnGK2Iswcq9wFzrFFxpE3yNl3HuDcCyZOgwllekd0gkWi2ZGsOhd0jukOUbXQ7Va7JiS5KY8eNNWY8KNzQwGGV00m2vGgSnlT1HY4uK2sTnyt6RWHEltl6eFW84x01WiY1GulsZtfHJibxRHCUi2cYm7Gsi8qyMBYtkSrSfJvCweZGxUxEe4li6q7CWoanDuOuOhfJYFQuw0aQxTitlr8tS0047QbuHICj7BRpnZDpdVu2RpfNIZWD/LgcqClfRZSJuCJuTKWEucVUibmMc4lHSQRHMNgoA8OuwGeCXA7HyTdDKbQrgmZU8M0U6b7Gu0CqJLgdcoj4vhm9IHOkauVAasV2GXIJLjM3K0WUxlyXYG0uxSydUXgr77EL05y2dvudF2CwxDQjcl0PFRf/QOt6ZbaXHImqJoVarlpYB0mGMnX9gThG/6oU6R2QYdJkdMpkSxAZTsobIT0jZGxYBRJsH6RdYd9gOSCosWULl40fKGVhX2a+ehWVBruLn+xlCu0Chhr8l//Hy8Ex0LuvLuK5S9DqMK2KVaTi7MhSYWd3uUylF+yT70VzMlMtkIsDQdkpFlEpZnZTGsIrLdlviYri4HpEdMFJhtovPFN7Ipnb3ZGQnIbS6ArfZq4HFRirL+xqeJ0vdI8+kWuRfFbs6FzUqoerYzy2QvUGItEZRvGhfLI2VMupC6kEpzityLLoKmiUjniY8WKOom7i2NQSxxWEk+X7lHDyazUEuUlT5uCUnwdmfIQBZXW2tvIKWZ6tEp+Ud1XsFGJiwdR9iGi6h8x7RJpsFCncJ0UuTnTZRxM22ZJINTwi5bA1aOVku3dkATfsLUa0dANpa90BOsFqwKVBnJS0WpR4N8L7kRTWwSMp8Xf0BtdDNp9i8qEkrtMHYblWk1ZgbDqT9k2kugYxSrW9ikIq+uwecYcW9xZsaCfZHxKYV68ApwjbTf5k05x5b9yf8AhX/QFeglz9BfKaE50/6uLSkuCsJMjOKsBlIyhWyth7JUVhTvogrwcvxlL2CwrvnVCuT9DxjH2dRwye7sCqUbDCqw/wCLXuwvWilay18CZuynji0IR+REojzhmWkf22OSsrZfnsw5gwM/KRYPVSvpoQ6d9l90NmhMGAsWpx1LuOmwNhys2FDfUhvZaBPiIdkI5OdPcjKTx/ZTL9DRxyOFHJzPx9iVC/KXsQUYDF2n3ORVFwmLwnbY6U297MGcjUay30OUTkWRgE5js5DKMwSzkRmOiSEUgkkhhsFEWJSKs41hosk9i1pLX/YIJwKwoq2QkSyjGFaJZyKonkwC0lble5UkgJmWcV3X8FXE4iQLNSLyUeL+Tkl3/YoRyYOiZR+RVIKihrM0it3wS5MrIgxiyb7v3OnVdt2DOZjWUb7lsxDLIwCpRsuykzGOUn+I782IiWMY/9k=);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    position: relative;
    font-style: bold;
    padding: 50px;
}
.b{
color: black;
position: relative;
font-style: oblique;
font-family: 'Rubik', sans-serif;
font-size: 25px;
text-align: center;
font-weight: lighter;
}
#flow{
padding: 10% 15% ;
background-color: rgb(0,191,255)
;
}
#flow2{
align-self: center;
padding: 0% 0%;
}
.lol{
text-align: center;
}
#flow1{
padding: 7% 15%;
}
.icon{
color: rgb(0,191,255)
;
margin-bottom: 1rem;
}
#flow4{
background-color: rgba(0, 0, 255, 0.493);
padding: 5% 25%;
background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBIREREPERERDw8PDw8PDw8PDxEQDw8PGBQZGRgUGBgcIS4lHB4sIRgYJjgmKy8xNTU1HCQ7QDszPy40NTQBDAwMEA8QGBISGDEhISExNDExMTQ0NDExMTExMTE0NDQxMTE0NDQ0NDQ0NDQ0NDQ0NDE0NDQ0NDQ0NDQ0NDExNP/AABEIAJ0BQQMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAABAgADBAUGB//EAD8QAAICAQIDAwoEAwUJAAAAAAECAAMRBBIGITEFQVETIjJhcXKBkaHBQmKisUNSsgcUI4LRFzNTVJPC4fDx/8QAGgEAAwEBAQEAAAAAAAAAAAAAAAECAwQFBv/EADERAAICAQMCBAQEBwEAAAAAAAABAhEDBBIhMUEUMkKhE1GBkVJx4fAVIiOSscHRBf/aAAwDAQACEQMRAD8AtURwJFEsVYxgUS1VgVZYqxWNIiyxVhVZYqySqFVY6rGVY6rFYwBY4WELHCybHQoWMFjgQiFjoXEIWMBDiKx0KFhCxwI2IWFChYwEIEgEVjIBDiMBCFisdCAQgSwLCFhYUIBGCxtsOIrChQsIWMFk2xWOgAQgQhYQsLCgARgIwWMFiGKFjBYwEIEVgKFhCx8RgIrAULDiNiTEBiSYj4kxCwExDiNiTELCgYgjYkhYHgFWWAQKJYqzsOWgKJYqwqssVYh0BVlirCojASSqCBLFECiOBE2MgEIEIEcCSVQoEcCMBCFgMAEIEgWMBFYUACELHAhAisdChYwWMFjARWFChYwWHEcCIaEAhxGxCBFYUACTEfEIELGJiHbHAjBYgoQLDiOFhxABAIwEIEIEAIBCBCBDiIAYjSYkxACSYhkgAMSYkhk2AJJJIWMkkkkLA8KqyxRIoliidhz0BRLVEAEdRFY6CojqJFEcCKyiARwIAIwEQDARlEgEcCTYyBZMRgIQIrHQAIwEYCI9yIQGYKW6DPnH4RWMsAjAQgQgRWMAWHbGxDiIBQI2IQIwEAFAjASARgIhgAjASARgIATEOJAIwisBcQ4hhxCwFxDiGSFiJiSSSFgNBJJFYEkkkiAkMkhisASGAwQsYZIJIWB41RLFECiWKJ1mVBAjKJW9gUqCOTZG7uDdQPjz+U0KJNjp1YQIwWQCMBBsdEAjAQgRgIrHRAI4EIEIk2FBCxgIBHEVjABODax8tf8AlvUDn3GmtvvPQief1IxqLx4tS/zrC5/RObVc4n9Dp0r/AKq+p29I+5B6uUvE53Zr8yviPqP/AEzpiXinugmRmhtm0ACMBIBCBNLM6JiMBABCzAAsxCqBkknAAisKIBKdVrK6RmyxEH5jzPsHUzznbXFiplNPhm5g2HoPdH3ni9Tq3tYs7F2J5kkkzeGFy5fCMZ5kuFyfR04m0ZO3yhHrKPj9p16bVdQ6MHVuYZTkGfK9B2e1hB7p7/h2vyasndyb2Hv+0jLGMOEy8e+Sba4O1DFzDMbLGgghhYiSQSQsAyZgkisBoIMwxWAZIuYcwsAySQRWIOIIYIrGSSCSOwPJKI6iKolyCdZFCWVB1KHofDqD1BHrBwZkq1mxij8ipw3Ll6mHqM6SiZtfoBaAQdjqMBsZBHgRIatp9C4yaTXWzVU6uMqwYeo5lwWeJ1/DerY5DVWY5ja7Iw9mR95zbNB2hV+HUoB312u6/pJm6xp+tGLySXpZ9JAjgT5We2dbXyN9ykdzjP8AUJcnF2tX+Kje9Wn2Eb00uzRPiI90z6gBCJ83r461a+klL/5WH7NNdf8AaBZ+PT1n3bGX9wZL0+Rdivjw+Z9AAjATxVX9oFR9PTuvu2q37gTXXx1pT6SXL/lQj+qQ8OT8Jay4/merE4GvGNXZ4NptM3xD2g/aSvjDRN/Edferf7ZnM7V7cpfUI9LiwHTOr4DDaVcEdR+YzDPim4Nbf3aN8GSCmmmdnTPtIPgczuqc8/jPF6XtZSQDyz4zZqeK0oCVip7nIyDvVECZIHnHPhjp3TDTQmm4Ub6mcHUrPVCMJ5zQ8V1WWeSdGqPc+4PWTjmM8j8cTL23xWEylHXoXPX/ACju9s6lim3VHI8kUrbO92n2tVply7ZfHJAfOPt8BPB9tcQ2aglc7UHRF5D4+JnH1OqexizEsSckk5gooLnAnZDDGHL5ZyzyynwhUQse85OZ3OzOyixDMPhNPZvZgGC3X6CdgIWwieamAWsHUjwWc+fVKPCOnBpb/mkhaqtpFdY87A3MR5qD7md/srTeTU9Tnqx6se8ynRaQYHLCAADxOBidIThTk3uZ1ZGktqLMyZiZhzKswofMmYoMmYWFDyRcyZhYBhi5gzFuAMgMQmHMLAfMOYmZMxWFDgw5igyZisVDZgJgzFJi3BQ2ZImZIbh0eXEtWUqZYrTuZmi8SxZQrS1TEMsEcSouACxIVQCSScAAd5M4V/GGkR9gayzHIvWgKfAkjPwgoyl0Vg5Rj1dHomRWGGVWHgwDD6zDf2FpLPS09ftVdh/Tic+ri/Rt1d096tvtmbauIdG3S9B725f3Ee3JHs0G7HLujDfwXo39EWJ7rZH1nN1HAK/w7vYHXH7Znq6+0aH9G6pvZYn+s1IwPQg+wgw+Plj3Yvg432R8n7V4fbT2CouHcruIRWfaO7dgcpW3YGqCh/JMUIyG2MAR8RPp9XY9YssuYs7uxY7jhQO5QB3To5wOQ6DkBy+Etayd9EJ6SFdXfsfFG0tq9a2+Es7P3C4ZUjNdg5jH4kn0PQ8OlrH1GpVGssYsw5MwHcvq7hBxD2TSDp2SsIXuZGK5AKmt2xjp+AR5NWpRlFr6ihpXGcXuv9/M8nmCyo3bEBOVLHIBY7TzI+Y+s6mu09aVtheag4x1nIVtgychj0UHBx6/ATHBk3PdFcmuZJJxkWXHyK7VUpu6lvTb2+qYSSxlm1rGyeZ8PAeE36bs89W+U73NRXJwKNvgzaXSFz0nbppStdzEKo9J2IAES+6vTpluv4UHpMf9J5rX6yy1s2clz5iD0VHs8ZzubydOhuoqHLO1qe3Wb/DpB2E4BPVz6hEu7StUbWsbcPSwcKn5Rjlmc/TuKq9+P8ZyQhPPaneR9Zge7JxnOPqfEwhhi30KeZpdT3PZXGpXal6FkXCixcb8esd/0nsNB2lTqF3VWK/ioOHX2qeYnxhXl9F7IwZGZWHRlJBHxEqeji/K6ZnHUvuj7JqNZXXjylldeem91TPsyZbXYrAMrBlPRlIYH4ifHH1Rss8rcz2kkFtzcyB3Zne4c7ZSi0l3KpYxLqQSoyeuB4TnnpJRja5ZtDOpPng+j5hzMWm7Rpt51212epWBb5dZpLTibadM6OpZuk3SvdJukuQbSzMGYu6TMNwUNmTMTMmYbgosDQ5lOYwaDYUWgw5lW6ENJ3CofMhMXMBMncFBgi5ki3Do8urSxWlKyxZ6xgi9WlitKFlimQUXD5iZtR2XprPToqcnv2AN8xzlwMcGK6HSZw9RwdpH9DylR/I5YfJszl6jgewc671b1WIVPzGZ7MNGDS1nyL1f7JeDG+x821HDGsr5+S3gd9bh8/DrOc6W1HDpZWfzKymfXA0LYYYYBh4EAiaLVy7qzN6WPZs+TU9q3r6N1i+yxx95tq4k1a9L7D72H/cT3mp7D0lnp0Jk96rsP6cTl6jgvTNzR7Kz3DcHUfA8/rK8Til5o+yZPh8q8sv8o4dfF+rHV0f3q0+2I+s4j1FyVFkrIXUKylVYEnY6+PTzoe0uEGpqsu/vCulSNYwKFWKqMkdTPL6ftbTOygu5Pooq1ttXuxG1hnF7UvsJPLCSt+53L9W79+T+UeaD94iaX8VjBF7y5xmUW67byRNn57Bz9oEyO5ZgzNuPiTn/AOScUUlUFSDI3bcup6TSGnktbB28F6/WbFosY4yK19XnOfj0E8otk10dpWJ0c48DzHyMzzaXLLyT+/6G2HUYV54P6f8AD1en7HqJDMnlHP4n84/DM4naHCmrs1W6quuvSqABvtCsx5ZYBQcTd2dxUE5WVBj/ADIcED2Gd7S8R6Wzl5TYfCwbfr0+s5o4s+K3Ln3OjJlwZeI8L7M87qODdQ7bt9IUAAIHfkAOmdsy3cF3dyKx/K6fcifQUsDDKkMPFSCPpGzKjq8kSHpoM+U6/h+3TrvsDVpuCgnDjceg83Mzt2deq7vJsydd21l5fET6h2n2eNQK1Y4RLN5AGSxAIA9XWbawFAVeQHQTTx8qVqzN6OPPLPjWSOZVgPHBx84VsB757/UcOpZrjf5JFqWtAcIqh7OZYkD0jz6n1Tp38P6R/SoT2rlf2M1/iEF1izLwcvmfMVfHOdHSdu6qr0LnwPwsd6/JszodncNrqL9QMtVQljpWE5sAGIGSevSbLuB2/h6gHwD1kfUEzWWqwNuMn7Ga0+VK0gaXja0crK67B3lCUb7idnS8X6V+T+UqP5l3L81z+08vdwlq16Cuz3Hx/ViYruxtUnpUWe1V3j6TP4OlyeVpfky1kzw6p/Y+m6btCq3/AHdtdnqV1LfLrNWZ8cZGU+cGU+sEGb9L21qq+SXPgfhY71+TZmM//Pfol9y46teqJ9UgzPC6XjK5eVlaWDxQmtvuPpOxpOLNM5CvvqY/zrlfmPvOWelzR9N/lybxz45dzuajUBF3HJ5qqqPSdycBR6yZcGnL0rG5/wC8MPMTI06n18ms9p6D1Z8Zu3TGXHHc2ir5L90IaUBo+Zk2DRbukzKw0OZnuFQ0kXMENwUeYDR1aZlaOrz3GcqNStLFeZA8YPJKNYaMHmUNGDyaKNYeMHmQWRg8mhmvdCHmYPGDyaLNIaMGmYPGDxMaLL61sR63G5HRkdfFWGCPrPA/7NlruW2nUZVSSK7kyR4ecvXHsnvQ8m6OM5RTp9QcIyab7Hkxw7crBfNZT+NWAVfaCc/IGdFOGKyPPKN7K1J+ZncDQ7pizbfKqZxhwno/+G+f5hY6/QHEzW8G0H0Lbk9pVx9RPR5hzLWfIukmZPDjfWKPHW8FuPQ1CN6nrK/UEzFbwrq19EV2e5Zg/qAnvcwgzRazKu9/QzekxPoq+p85Gh11B3LVehHfXl/6CZt0vFGrrYLYhsJIASytlcnwHIGe6zAfn7YPWKXngmC0jj5JtE07sUUuoRyoLKG3BT4Zlm6JmTM4mdVFm6TdK8w7pIUNWoUYUBRknAGOZPMx8yvdJuiCizMmZXukzJsKGZQ3JgGHgwBH1mK7sjTP6VFftChD81xNm6DdKjNx6OiXBPqjjW8LaRuiunuWN/3ZmVeDqdwY2WsmfOU7fOX+XcMY/wDM9Huk3TRavMvWyHp8b9KCoAAAACqAAAMAAdAJBzgLQB8TDca0W8hA1kztZEDwqx7DUHjb5mDR98ykG0u3ySnMEmxbTzAeOHmUNHDT6OjzjSGjhpnV4Q8ko0bowaZw0cNFQzQrRw0yh4weSUaleOHmQPGFkmi0aw8YPMYshDyWijaHh3zILIweQ0Wag8YPMoeHykmijTvkzM4shDyKKRoDRt0zh4Q8mii7dDulO6HdIY6Lg0OZSGjb4mOizMm6JugLSR0WbpMykvF3waCjTuk3TN5WMLJLiwov3QZlW6DdJoNpbukLyrdFLR0PaXbojPKDZFayUojosd4hslDvKi81jEhnQS2Wq85SvibK7ciZZMdclRpmrfDM+6SYbB7Ty4eEPMwMdTPo6PGNQeMHmYGODJopGkPCGlAMYGKhl4eMHmYGMDFRRozGDTODDuklGgNGDTMGhzFRaZo3w+UmbMgMmh2avKRhZMmYwaTtLTNgshDzGDJvMlxKTN4eHfMK2GWqZDiWmag8PlZmzJmRtKNQsh3zHuhFhkuJSZsDyeUmQOY4MnaNGgvFLSnMmYqoocvF8pFJiEykSXC6OLZhcxBYY/hJi3UdQPFZphWwywWGQ8dFpju0rayRjKGM0jEiRbuzEMqsfA8eeJk7U1LV1MV68gD4Z75rGDbSXczlJRTb7FPa/aJrKpW+HGS+AGx4DnLaO21RVDo28qMc1CHl6RPcJ5YmCek9HBxUWeV42ak2j1nlbf8Amaf+qJJ5OSR4JfNf2/qV4+X4fdn/2Q==);

background-repeat: no-repeat;
background-size: 100%;
}
@keyframes slidein 

{
from {
margin-left: 100%;
width: 300%;
}

to {
margin-left: 0%;
width: 100%;
}
}
@keyframes slidein1 {
from {
    transform:translate(-9999px);
    opacity: 0;
margin-left: 100%;
width: 300%;
}

75% {
font-size: 300%;
margin-left: 25%;
width: 150%;
}

to {
    
margin-left: 0%;
width: 100%;
}
}
#p {
animation-duration: 3s;
animation-name: slidein;
}
#a1
{

animation-delay: 0s;
animation-duration: 1s;
animation-name: slidein1;
}
#a2
{
animation-delay: 0s;
animation-duration: 2s;
animation-name: slidein1;
}
#a3
{
animation-delay: 0s;
animation-duration: 3s;
animation-name: slidein1;
}
#t {
    transition: background-color 0.5s ease;
  }
  
               
